.tabac {
    .container {
        display: flex;
        flex-direction: column;

        @media (max-width: $maxTablet){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        margin: 100px auto 0 auto;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: $maxTablet){
            justify-content: center;
            align-items: center;
        }
    }

    &__list-item {
        margin-top: 50px;
        width: 300px;
        height: 410px;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-right: 38px;
        &:nth-child(4n){
            margin-right: 0px;
        }

        &:hover{
            .tabac__item-img1{
                transform: rotate(-13.53deg);
                left: -34px;
                top: 5px;
                transition: transform 0.25s;
            }
            .tabac__item-img2{
                transform: matrix(0.98, 0.19, -0.2, 0.98, 0, 0);
                top: 50px;
                right: -46px;
                visibility: visible;
                transition: visibility 1s;
            }
        }
        @media (max-width: $mobile-menu-breakpoint) {
            margin-right: 0px;
        }
    }

    &__item-img1 {
        position: absolute;
        z-index: -1;
        left: 20px;
        top: 0px;
    }
    &__item-img2 {
        position: absolute;
        z-index: -1;
        top: 50px;
        right: -46px;
        visibility: hidden;
    }

    &__item-rect {
        width: 300px;
        height: 200px;
        background: $buttonGradien;
        backdrop-filter: blur(19px);

        margin-top: 211px;
        padding: 20px;

        border-radius: 20px;
        border: 2px solid #0085FF;

    }

    &__rect-title {
        font-family: $fontGothic;

        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;

        color: $white;
        
        display: flex;
        justify-content: flex-start;
        @media (max-width: $maxMobile) {
            font-size: 24px;
        }
    }

    &__rect-desc {
        font-size: 14px;
        line-height: 17px;
    }

    &__rect-stronger {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
    }

    &__btn{
        width: 192px;
        height: 49px;

        margin: 50px auto 0 auto;
    }
    .main{
        &__title{
            @media (max-width: 1440px) {
                justify-content: center;
                align-items: center;
            }
        }
    }
}