.footer {
    .container {
        height: 768px;
        position: relative;
        display: flex;
        flex-direction: row;

        justify-content: center;

        margin: 0 auto 0 auto;
        padding-top: 440px;

        @media (max-width: $mobile-menu-breakpoint) {
            flex-direction: column;
            padding-top: 150px;
        }
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    &__list {
        display: flex;
        flex-direction: column;
        max-width: 230px;
        margin-right: 90px;
    }

    &__list-item {
        padding-bottom: 16px;
        display: flex;
        flex-direction: row;
        address{
            display: flex;
            flex-direction: row;
        }
        img{
            padding-right: 5px;
        }
    }

    &__item-img {
        width: 140px;
        height: 48px;
    }

	&__item-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
	}
}